<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Definitivo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/styles.css">  
</head>
<body>
    <form action="home" method="POST">

    <div>   
        <label for="">Nombre y apellido</label>
        <input type="text" name="nombreUsuario">
    </div>
    
    <div>   
        <label for="">Nombre de usuari@</label>
        <input type="text" name="nombreUsuario">
    </div>
    
    <div>   
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="nombreUsuario" min="1890-01-01">
    </div>
    
    <div>   
        <label for="">Domicilio</label>
        <input type="text" name="nombreUsuario">
    </div>
    
    <div>   
        <label for="">¿Que te interesa?</label>
        <label for="">Comprar<input type="checkbox" name="perfilUsuario" value="comprar"></label>
        <label for="">Vender<input type="checkbox" name="perfilUsuario" value="vender"></label>
    </div>
    <div>
        <label for="">Categorías de interés</label>
        <select name="" id="">
            <option value="">Electro</option>
            <option value="">Moda</option>
            <option value="">Hogar</option>
            <option value="">Juguetería</option>
            <option value="">Vida sana</option>
        </select>
    </div>
    <div>   
        <label for="">Foto de usuario</label>
        <input type="file" name="nombreUsuario" accept=".jpg">
    </div>
    <div>   
        <label for="">Contraseña</label>
        <input type="password" name="password">
    </div>
    <div>   
        <label for="">Confirmar contraseña</label>
        <input type="password" name="password">
    </div>
    <button type="submit">Enviar</button>
    <button type="reset">Borrar</button>
</form>




    
</body>
</html>






<!-- Registro de Usuario (register.html ):
■ Nombre y apellido
■ Nombre de usuari@
■ Fecha de nacimiento
■ Domicilio
■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
■ Categorías de interés (puede elegir más de una)
● Electro
● Moda
● Hogar
● Juguetería
● Vida sana
■ Foto de usuario
■ Contraseña
■ Confirmar contraseña
■ Botón de enviar que nos lleve a la página principal
■ Botón de borrar todos los datos del formulario -->