* {
    box-sizing: border-box; 
    margin: 0;   
}
/* .articulo {
    background-color: red;
} */

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
}

header {
    background-color: #EAC926;
    padding-bottom: 0.0157px;
    
}

.top_bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   
}

.logo {
    width: 50%;
    height: 37px;
    text-align: left;
    /* margin-top: 10px; */
    margin-left: 0px;
    margin-top: 30px;
   
}

.search{
    display: inline;
    text-align: left;
    width: 50%;
    /* margin-top: 10px; */
    display: flex;
    margin-top: 30px;
   
}

.search_bar {
   width: 75%;
   height: 30px;
   margin: 0;
   border: none;
  

   
}

.search_button {
    height: 30px;
    margin: 0;
    border: none;
    color:  -internal-light-dark(black, white);
    background-color: #ffffff;
}

.shopping_bar {
    margin-left: 20px;
    margin-top: 9.5px;
    margin-right: 20px;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header_navbar {
    display: none;
}

.header_navbar ul {
    
    list-style: none;
    padding-left: 0;
}

.header_navbar a {
    text-decoration: none;
    color: #222222;
}

.burguer_button {
    /* display: block; */
    background-color:#03264C;
    color: #ffffff;
    
    margin:auto;
    text-align: center;
    padding: 9px 0;
    border-radius: 6px;
    margin-top: 17px;
    margin-bottom: 20px;
    width: 40px;
    font-size: 20px;
}

.banner {
    width: 100%; 
    /* height: 50px; */
}


.main {
    /* border: solid red 5px; */
    width: 90%;
    margin: auto;
    border-right: 10px solid #ebebeb;  
    border-left: 10px solid #ebebeb; 
}

/* .articulo {

} */

.titulares {
    color: #666;
    font-size: 24px;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 15px;
    background-color: #ebebeb;
}

.imagen_articulo {
    display: block;
    
    margin: auto;
    width: 150px; 
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.detalle_articulo {
    border-top: solid #ebebeb 1px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.detalle_articulo li {
    list-style: none;
}

.icono_envio {
    width: 100%;  
    text-align: right;
    height: 0;  
} 

.precio {
    font-size: 18px;
    width: 30%;
}

.descuento {
    color: #39b54a;
    font-size: 16px;
    width: 70%;
}

.descripcion {
    color: #666;
    display: none;
    font-size: 16px;
    width: 100%;
}

.truck {
    color: #39b54a;
    background-color: #FFF; 
    border: solid #39b54a 1.1px;  
    padding: 5px;
    border-radius: 80%;
    position: relative;
    bottom: 30px;
    right: 15px;
}

.borde_inferior {
    /* articulos 1,3 y 4 */
    border-bottom: 10px solid #ebebeb; 
} 

.main_footer {
    margin-top: 70px;
    color: #666;
}

.footer_section { 
    text-align: center; 
}

.footer_section i {
    background-color: #ffffff;
    color: #1259c3;
    font-size: 2em;
}

footer h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #666;
}

footer p {
    margin-top: 0;   
}

#copy {
    margin-top: 50px;
}

@media (min-width: 361px) {
    
    .top_bar {
        /* flex-wrap: nowrap; */
        
       
    }

/* --------------------------- */

.logo,
.search,
.shopping_bar {
    /* width: 50%;
    height: 37px;
    text-align: left;
   
    margin-left: 0px;
    margin-top: 30px; */
    width: 33.33%;
    
   
}

.logo {
    margin-top: 20px;
}

.search{
    /* display: inline;
    text-align: left;
    width: 50%;
    display: flex;
    margin-top: 30px; */ 
    margin-top: 20px;
    

   
}

.search_bar {
   /* width: 75%;
   height: 30px;
   margin: 0;
   border: none; */
   height: 12px;
   font-size: 11px;
  

   
}

.search_button {
    /* height: 30px;
    margin: 0;
    border: none;
    color:  -internal-light-dark(black, white);
    background-color: #ffffff; */
    height: 12px;
    font-size: 10px;
    margin-left: 5px;

}

.shopping_bar,
.header_navbar {
    font-size: 10px;
}

.shopping_bar {
    margin-top: 40px;
}





/* --------------------------- */
    .header_navbar {
        display: flex;
        justify-content: space-around;
        

    }

    .header_navbar ul {
        display: block;
        width: 40%;
        display:flex;
        /* flex-grow: 0.4; */
        justify-content: space-evenly;
        margin-bottom: 15px;
        margin-top: 30px;

    }

    .header_sitebar {
        position: relative;
        left: -15px;
    }


    .header_loginbar {
        position: relative;
        left: 10px;
    }

    .burguer_button {
        
        display: none;   
    }
    
    .banner {
       /* width: none;  */
       /* max-width: 360px;
       display: block;
       margin: auto; */
    }



    /* ------------------------------------ */

    .ultima-visita, 
    .ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #ebebeb;


    }

    

    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 50%;
        /* border: 1px red solid; */
        max-width: 260px;
      
    } 

    .imagen_articulo {
     width: 91%; 
     /* border: 1px black solid; */
     max-width: 150px;
     

    }



    .descripcion {
        display: block;
    } 
    /* .titulares, */
   

    /* .borde_inferior {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    } */
    
    .borde_inferior {
        /* articulos 1,3 y 4 */
        border-bottom: none; 
    }    
}

@media (min-width: 769px) {

    .articulo {
        
        width: 25%;
        /* border: 1px red solid; */
        /* max-width: 260px; */
      
    } 
   
}